<p><%= (event.isNewRecord? 'Create' : 'Update') %> Item</p>
<%- await form1.begin() %>

<%- await form1.field(event, 'title').input('text').__toString() %>
<%- await form1.field(event, 'contactPerson.name' ).input('text').__toString() %>
<%- await form1.field(event, 'contactPerson.email' ).input('text').__toString() %>
<%- await form1.field(event, 'contactPerson.phone' ).input('text').__toString() %>
<%- await form1.field(event, 'organization' ).dropDownList(orgsList).__toString() %>
<input type="submit"/>

<%- await form1.end() %>
